# data folder
data
data_csv
data_saved

# plot folder
plots

# python auto-files
__pycache__

# script exploration Bruno
src\explo*.py
src/explo*.py

src/data_location_V2
saved_models
modeling_results
src/analyse_series_temp.py
src/tests

requirements.txt
